.button:hover{
    -fx-border-color: #373F47;
    -fx-border-width: 0px 0px 3px 0px;
}

.tool-bar:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
}

.menuBox {
    -fx-background-color: #B5424B;
    -fx-padding: 0;
    -fx-spacing: 0;
}

.menuButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Verdana Bold";
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

