.button:hover{
    -fx-border-color: #373F47;
    -fx-border-width: 0px 0px 3px 0px;
}

.tool-bar:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
}

.menu-item:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.side-bar:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}